.App
    padding-top: 80px
    background-image: url('../image/pattern.svg')
    background-attachment: fixed 
    background-position: center
    background-repeat: repeat
    min-height: 100vh
    
.navbar-custom
    background-color: #ff3939
    padding-top: 5px !important
    padding-bottom: 5px !important
    & img
        margin-right: 10px

.navbar-light .navbar-brand
    color: #ffffff !important



